/* pre-header */


body{
  font-size: 100%;
  font-family:Century Gothic, sans-serif;
    color: #bbb;
}

.pre-header-outer{
	width: 100%;
	background: #4b4b4b;
	font-family: 'PT Sans Narrow', sans-serif;
	
}

.pre-header-inner{
	padding: 15px 0 15px  170px ;
	font-size:0.94em;
}

.site-name{
	top: 0;
	left: 0;
	padding-top: 75px;
}

.site-phone-itself{
	color: #A9A9A9;
}

.login-open{
	color: #fdfdfd;
}

.cart{
	margin-left: 3.529412%;
	color: #fdfdfd;
}


.site-name{
	width: 150px;
	background: #000;
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 0;
}

.site-name-url{
	display: block;
	padding-top: 30px;
	text-align: center;
}

/* header  */

.main-head{
	padding: 15px 0 0px 170px;
}

.header{
	 background: #545a66;
	 font-family: 'PT Sans Narrow', sans-serif;
}

.ih-info-block{
	text-transform: uppercase;
}

.ih-info-block a{
	display: block;
	float: left;
	color: #ddd;
	line-height: 1;
	position: relative;
	vertical-align: top;
	font-size: 0.94em;
	width: 178px;
	vertical-align: top;
}

.ih-info-block a:before{
	font-size: 2em;
	vertical-align: top;
	margin-right: 10px;
	float: left;
	vertical-align: top;
}

.sw-input-wrap{
	width:320px;
	border:1px solid #ddd;
	padding: 7px;
	background: #fff;
}

.search-input-itself{
	height: 100%;
	width: 100%;
	font-size: 0.94em;
	color: #bbb;
}

.search-submit{
	right: 0;
	top: 2px;
	height: 100%;
	width: 40px;
	background: none;
	border: none;
	font-size: 1.2em;
	color: #565656;
	padding: 2px;
}

.search-submit:hover{
	opacity: 0.7;
}

.top-menu-wrap{
	padding-top: 22px;
}

.top-menu-nav-items{
	font-size: 1.25em;
	text-transform: uppercase;
	
}

.top-menu-nav-items a{
	display: block;
	padding: 0.75em;
	background: #0d0d0f;
	margin-right: 2px;
	color: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.top-menu-nav-items a:before{
	float: right;
	margin-left: 0.53em;
}

.top-menu-nav-items a.active, .top-menu-nav-items a:hover, .top-menu-nav-items a:active{
	background: #f99222;
}

/*slider*/


.slider-outer{
	width: 100%;
	height: 350px;
	background: #ff0;
}

/*cat-news-block*/

.cat-news-block-outer{
	background: #fff;
	padding-bottom: 40px;
	width: 100%;
}

.cat-news-block{
	height: 100%;
	position:relative;
	top: -20px;
	padding: 15px 0.9765625%;
	background: #fff ;
	-webkit-box-shadow: -16px -7px 11px -22px #000000, 13px 0 11px -18px #000000;
	-moz-box-shadow:-16px -7px 11px -22px #000000, 13px 0 11px -18px #000000;
	box-shadow: -16px -7px 11px -22px #000000, 13px 0 11px -18px #000000;
}

.cat-news-block-itself{
	width: 32.34789%;
	background: #333;
	margin: 5px 0.4882812%;
}

.cat-news-block-itself img, .cat-news-block-itself a{
	display: block;
	margin: 0 auto;
	width: 100%;
}

/*mp products*/

.mp-products-outer{
	background: #f2f2f2;
	padding:1.88em
}

.mp-products-title{
	font-size:2.31em ;
	color: #040404;
	margin: 0;
}

.carousel-products-outer{
	padding: 1.88em 0;
}

.product-block-title{
	font-size: 0.88em;
	margin: 0.57em;
}

.product-block-title a{
	color: #040404;
	font-weight: normal;
}

.price{
	color: #040404;
	font-weight: bold;
	font-size: 0.88em;
}


/*mp-news-block*/

.mp-news-block-outer{
	background: #000;
	padding: 1.25em;
}

.mp-news-block-title{
	font-size:1em ;
	color: #fff;
	margin: 0 0  1.25em 0;
	text-transform: uppercase;
}


