/* pre-header */


body{
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
    color: #bbb;
}

.gl-outer{
  width: 100%;
  position: relative;
}

.gl-inner{
  width: 100%;
  max-width:980px;
  padding: 0;
  margin:0 auto;
}

.pre-header-outer{
	width: 100%;
	background: #4b4b4b;
	font-family: 'PT Sans Narrow', sans-serif;
	z-index: 99;
	
}

.pre-header-inner{
	padding: 15px 0 15px  170px ;
	font-size:0.94em;
}


.site-phone-itself{
	color: #A9A9A9;
}

.login-open{
	color: #fdfdfd;
}

.cart{
	margin-left: 3.529412%;
	color: #fdfdfd;
}

.cart-info:before{
	display: none;
}

.login-open:before{
	display: none;
}

.login-open{
	background:url('../images/login.png') right center no-repeat;
	padding-right: 8px;
}

.cart-info{
	padding:0px 0 1px 22px;
	background:url('../images/cart.png') 0 0 no-repeat;
}

.mobile-search{
	display: none;
}

.site-name{
	width: 150px;
	background: #000;
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 0;
	top: 0;
	left: 0;
	padding-top: 100px;
	padding-bottom: 20px;
	z-index: 79;
}

.site-name a:before{
	display: none;
}


.site-name-url{
	display: block;
	text-align: center;
}

/* header  */

.main-head{
	padding: 15px 0 0px 170px;
}

.header{
	 background: #545a66;
	 font-family: 'PT Sans Narrow', sans-serif;
}

.ih-info-block{
	text-transform: uppercase;
	margin-bottom: 1.25em;
	width: 65%;
}

.search-wrap{
	margin-bottom: 1.33em;
}

.ih-info-block a{
	display: block;
	float: left;
	color: #ddd;
	line-height: 1;
	position: relative;
	vertical-align: top;
	font-size: 0.94em;
	width: 33.333333%;
	vertical-align: top;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.ih-info-block a:hover{
	text-shadow: 0 0 12px #000;
	color: #f99222;
}

.ih-info-block a:before{
	font-size: 2em;
	vertical-align: top;
	margin-right: 10px;
	float: left;
	vertical-align: top;
}

.sw-input-wrap{
	width:275px;
	border:1px solid #ddd;
	padding: 7px;
	background: #fff;
}

.search-input-itself{
	height: 100%;
	width: 100%;
	font-size: 0.94em;
	color: #bbb;
}

.search-submit{
	right: 0;
	top: 2px;
	height: 100%;
	width: 40px;
	background: none;
	border: none;
	font-size: 1.2em;
	color: #565656;
	padding: 2px;
}

.search-submit:hover{
	opacity: 0.7;
}

.top-menu-nav-items{
	font-size: 1.25em;
	text-transform: uppercase;
	background: #0d0d0f;
	margin-right: 2px;
	position: relative;
}

.top-menu-nav-items a{
	display: inline-block;
	padding: 0.75em;
	
	
	color: #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	float: left;
}

.top-nav-menu-open{
	float: right;
	color: #fff;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	vertical-align: middle;
	padding: 0.45em;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	line-height: 1.5;
	cursor: pointer;
}

.top-menu-nav-items:hover > .top-nav-menu-open{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	color: #ddd;
}

.top-menu-nav-items.active, .top-menu-nav-items:hover, .top-menu-nav-items a:active{
	background: #f99222;
}

.top-menu-nav-sub {
    background: none repeat scroll 0 0 #333333;
    font-size: 70%;
    position: absolute;
    top: 200%;
    width: 200%;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.top-menu-nav > .top-menu-nav-items:hover > .top-menu-nav-sub{
	top: 100%;
	visibility: visible;
	opacity: 1;
}


.top-menu-nav-sub .top-menu-nav-items {
    display: block;
    width: 100%;
    border-left: 5px solid #040404;
}

.top-menu-nav-sub > .top-menu-nav-items:hover > .top-nav-menu-open{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.top-menu-nav-sub .top-menu-nav-items:hover{
	border-color: #545A66;
}

.top-menu-nav-sub-sub{
	top: 0;
	font-size: 80%;
	left: 200%;
	width: 100%;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.top-menu-nav-sub .top-menu-nav-items:hover > .top-menu-nav-sub-sub{
	left: 100%;
	opacity: 1;
	visibility: visible;
}



.top-menu-nav-sub .top-menu-nav-items a{
	width: 90%;
}

.top-menu-nav-sub .top-nav-menu-open{
	width: 10%;
}

.menu-sale{
	float: right;
	 padding: 0.75em;
	background: #d9272e;
	color: #fff;
	font-size: 1.25em;
}

.menu-sale:hover{
	background: #040404;
}

/*slider*/

.slider-outer{
	width: 100%;
}

/*cat-news-block*/

.cat-news-block-outer{
	background: #fff;
	padding-bottom: 40px;
	width: 100%;
}

.cat-news-block{
	height: 100%;
	position:relative;
	top: -20px;
	padding: 15px 0.9765625%;
	background: #fff ;
	-webkit-box-shadow: -16px -7px 11px -22px #000000, 13px 0 11px -18px #000000;
	-moz-box-shadow:-16px -7px 11px -22px #000000, 13px 0 11px -18px #000000;
	box-shadow: -16px -7px 11px -22px #000000, 13px 0 11px -18px #000000;
	z-index: 76;
}

.cat-news-block-itself{
	width: 32.34789%;
	margin: 5px 0.4882812%;
}

.cat-news-block-itself img, .cat-news-block-itself a{
	display: block;
	margin: 0 auto;
	width: 100%;
}

.cat-news-block-description{
	font-size: 0.88em;
	color: #040404;
	text-align: center;
	padding: 0.71em;
}

/*mp products*/

.mp-products-outer{
	background: #f2f2f2;
	padding: 1.20em 0 1.88em 0;
	border-bottom: 1px solid #DEDEDE;
    border-top: 1px solid #DEDEDE;
}

.mp-products-title{
	font-size:2.31em ;
	color: #040404;
	margin: 0;
	text-shadow: 0 0 2px #6F5D5D;
}

.carousel-products-outer{
	padding: 1.88em 0;
	 box-shadow: 0 224px 14px -227px #000000;
	 z-index: 4;
}

.product-block-title{
	font-size: 0.88em;
	margin: 0.57em;
}

.product-block-title a{
	color: #040404;
	font-weight: normal;
}

.price{
	color: #040404;
	font-weight: bold;
	font-size: 0.88em;
}


/*mp-news-block*/

.mp-news-block-outer{
	background: #f99222;
	padding: 1.25em;
	z-index: 3;
	 box-shadow: 0 51px 8px -55px #000000;
}

.mp-news-block-title{
	font-size:1em ;
	color: #fff;
	margin: 0 0  1.25em 0;
	text-transform: uppercase;
}

.mp-news-block-itself{
	width:32%;
	margin-left: 1.22449%;
	border-bottom: 1px solid #fcc386;
	border-top: 1px solid #fcc386;
	text-align: center;
}

.mp-news-block-itself:first-of-type{
	margin-left: 0;
}

.mp-news-block-itself img{
	display: block;
}

.news-block-article-url, .cat-news-block-btn-more{
	bottom: 10%;
	left: 0;
}

.btn-more{
	font-size:1em;
	text-transform: capitalize;
	background: rgba(0,0,0,0.7);
	padding: 0.67em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	display: inline-block;
}

.cat-news-block-btn-more{
	background: rgba(255,255,255,0.7);
	color:#000;
}

.btn-more:hover{
	background: rgba(0,0,0,1);
	color: #fff;
}

/*site-description*/

.site-description-outer{
	background: #fff;
	padding: 2.5em;
	 box-shadow:0 50px 14px -60px #000000;
	 z-index: 2;
}

.site-description{
	font-size: 0.75em;
	line-height: 1.5;
}

/*pre foor*/

.pre-foot-outer{
	padding: 2.5em;
	background: #f2f2f2;
	z-index: 1;
}

.social-btns{
	width: 20%;
}

.social-btns-title{
	font-size: 0.88em;
	color: #040404;
	text-transform: uppercase;
	margin-bottom: 1.13em;
}

.btn-social{
	width: 35px;
	height: 35px;
	text-align: center;
	padding: 9px 0 0 0;
	background: #272727;
	display: inline-block;
	font-size: 1.1em;
	margin-right: 0.25em;
	margin-bottom: 0.25em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-social:hover{
	background: #f99222;
	color: #fff;
}


.deals-wrap{
	background: #fff;
	padding: 0.94em  0.94em 0 .94em;
	width: 80%;
	position: relative;
	top: 6px;
	-webkit-box-shadow: 0 0 4px #e8e8e8;
	-moz-box-shadow: 0 0 4px #e8e8e8;
	box-shadow: 0 0 4px #e8e8e8;
}

.deals-wrap p{
	padding:0.7em ;
	font-size: 0.81em;
	color: #040404;
	overflow: hidden;
	position: relative;
}

.subscribe{
	font-size: 14px;
	background: #292929;
}

.vaucher{
	padding:5px 0 0 5px ;
	background: #f99222;
	position: relative;
	left: -25px;
	top: -21px;
	color: #fff;
	height:46px;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 13px;
	-webkit-box-shadow: -2.8px 2.9px 1.7px -2.3px #333333;
	-moz-box-shadow: -2.8px 2.9px 1.7px -2.3px #333333;
	box-shadow: -2.8px 2.9px 1.7px -2.3px #333333;
}

.vaucher:before{
	content: '';
	bottom: -10px;
	left: 0;
	display: block;
	position: absolute;
	border-style: solid;
	border-width: 5px;
	border-color: #975b19 #975b19 transparent transparent; 
}

.vaucher:after{
	content: '';
	border-style:solid;
	border-width: 23px;
	position: absolute;
	right: -46px;
	top: 0px;
	border-color:transparent transparent transparent #f99222;
}

.vaucher-size{
	font-weight: bold;
	font-size:2.54em;
	vertical-align: middle;
}


/*main foot*/

.main-foot-outer{
	width: 100%;
	padding: 3.13em;  /*50/16*/
	background: #dcdcdc;
}

.main-foot-block{
	width: 25%;
	padding-left: 1.25em;
	margin-bottom: 1.25em;
}

.main-foot-block:first-child{
	padding-left: 0;
}

.main-foot-title{
	color: #040404;
	font-size: 0.88em; /*14/16*/
	padding-bottom:1.43em  ;
	text-align: left;
	text-transform: uppercase;
}

.main-foot-nav-item{
	display: block;
	color: #040404;
	font-size:0.75em ;
	margin-bottom: 0.33em;
}

.main-foot-nav-item:hover{
	color: #F99222;
}

/*post foot outer*/

.post-foot-outer{
	padding: 2.5em 0 5em;
	background: #c8c8c8;
}

.post-foot-block{
	font-size: 0.75em;
	color: #040404;
	margin-bottom: 1em;
}

.post-foot-block-copy{
	width: 20%;
}

.post-foot-block-powered{
	text-align: right;
	width: 20%;
	text-transform: capitalize;
}

.post-foot-block-powered-url{
	color: #736A6A;
}

.post-foot-block-payment{
	width: 60%;
	margin:0 auto;
	display: table;
	text-align: center;
}

.payment-methods{ background:url("../images/payment-methods.png") top left no-repeat; 
	display: inline-block;
}
.payment7{ width:47px; height:23px; background-position:-10px -10px; }
.payment6{ width:83px; height:23px; background-position:-67px -10px; }
.payment5{ width:26px; height:23px; background-position:-160px -10px; }
.payment4{ width:53px; height:23px; background-position:-196px -10px; }
.payment3{ width:68px; height:23px; background-position:-259px -10px; }
.payment2{ width:55px; height:23px; background-position:-337px -10px; }
.payment1{ width:59px; height:23px; background-position:-402px -10px; }

.mobile-nav{
	display: none;
	height: 50px;
	background: #000;
	cursor: pointer;
	padding-right: 50px;
}

.mobile-nav:before {
    color: #FFFFFF;
    float: left;
    font-size: 32px;
    padding: 8px 10px 0;
    position: absolute;
    right: 0;
    z-index: 4;
}


.mobile-nav-text, 
.mobile-nav-text-item{
	 position:absolute;
	text-align: center;
	width: 100%;
	background: #000;
	height: 100%;
	left: 0;
	top: 0;
	font-size: 1.3em;
	color: #fff;
	padding-top: 13px;
}

.mobile-nav-text{
	z-index: 3;
}

.mobile-nav-text-item{
	z-index: 2;
}


.mobile-nav-open-active{
	color: #ddd;
}

.mobile-active-open{
	-webkit-transform: rotate(0deg) !important;
	-moz-transform: rotate(0deg) !important;
	-ms-transform: rotate(0deg) !important;
	-o-transform: rotate(0deg) !important;
	transform: rotate(0deg) !important;
}

.mobile-nav-open-active:before{
	color: #ddd;
}

/*  CATEGORY PAGE   */


.breadcrumbs{
	height: 50px;
	padding-left: 170px;
	margin-top: 3px;
}

.breadcrumbs a, .breadcrumbs span{
	padding:0.4em;
	color: #23262b;
	font-size: 0.88em;
	background: #fff;
	float: left;
	margin-right: 0.29em;
}

.breadcrumbs a:hover{
	background: #040404;
	color: #ccc;
}

.page-title{
	font-size: 1.88em;
	text-transform: capitalize;
	color: #fff;
	margin: 15px 15px 15px 0;
}

.main-content{
	margin-top: -276px;
	position: relative;
	background: #fff;
	box-shadow: 0 51px 8px -55px #000000;
	z-index: 2;
}

.main-content-sidebar{
	width: 18.571429%;
	padding: 1.43em 1.29em;
	font-size: 14px;
	color: #4b4b4b;
	text-transform: capitalize;
}

.main-content-sidebar-box{
	margin-bottom: 2.14em;
}

.main-content-sidebar a{
	color: #4b4b4b;
	padding: 0.36em;
	display: block;
}

.main-content-sidebar a:hover{
	background: #efefef;
	color: #000;
}

.main-content-content{
	width: 81.428571%;
	padding: 30px 20px;
	box-shadow: -141px -136px 15px -151px #000;
}

.main-content-sidebar-box-title{
	padding: 0.5em 0;
	margin-bottom: 1.57em;
	border-bottom: 1px solid #343434;
}

.range-slider{
	margin-bottom: 10px;
}

.ui-slider .ui-slider-handle{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 10px;
	height:10px;
	background: #343434;
	border: none;
}



.ui-slider .ui-slider-handle:hover{
	background: #5E5B5B;
}

.ui-slider .ui-slider-range{
	background: #f99222;
}

.ui-widget-content{
	background: #afafaf;
}

.ui-slider-horizontal{
	height:3px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.price-range{
	font-size: 0.75em;
	color: #afafaf;
	font-weight: normal;
}

.property-color{
	margin-left: 2px;
	width: 27px;
	height: 27px;
	background: #ddd;
	margin-bottom: 3px;
}

.property-color:first-child{
	margin-left: 0;
}

.property-color:hover, .property-color.active{
	border: 2px solid #060606;
}

.property-grey{
	background: grey;
}

.property-blue{
	background: blue;
}

.property-orange{
	background: orange;
}

.property-YellowGreen  {
	background: YellowGreen  ;
}

.property-yellow{
	background: yellow;
}


.property-red{
	background: red;
}

/*main-content-content*/

.category-grid-header{
	padding: 10px 0;
}

.filter{
	color: #4b4b4b;
	font-size: 0.88em;
}

.filter >select{
	padding: 0.36em;
	background: #e6e6e6;
	border: none;
}

.pagination a, .pagination span{
	display: inline-block;
	padding:7px 11px;
}

.pagination span{
	background: #e6e6e6;
	color: #040404;
}

.pagination a:hover{
	background: #e6e6ee;
	color: #040404;
}

.category-grid-itself{
	margin: 30px auto;
	display: table;
	width: 100%;
	text-align: left;
}

.category-grid-itself .product-block-title{
	margin-left: 0;
}

.category-description{
	padding: 2.88em 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	margin: 30px 0;
}

.category-description p{
	font-size: 0.75em;
	color: #040404;
	line-height: 1.5;
}

/*ITEM PAGE*/

.main-content-item{
	width: 100%;
	-webkit-box-shadow: 0 0 3px #333;
	-moz-box-shadow: 0 0 3px #333;
	box-shadow: 0 0 3px #333;
	padding:1.25em ;
	margin-bottom: 70px;
}

.item-info{
	width: 100%;
	height: 400px;  /*temp*/   
	margin-bottom: 20px;
	background: #ddd;
}

.item-info-itself{
	width: 75.918367%;
	height: 200px;  /*temp*/  
	background: #333;
}

.item-info-sidebar{
	width: 18.061224%;
	height: 200px; /*temp*/
	background: #9c0;
}

.item-page-tabs{
	height: 400px;  /*temp*/
	background: #ccc;
	width: 100%;
}


